:root {
    --off-white: #f5f5f5;
    --gold: #b19b7c;
    --brown: #6f5844;
    --dark-brown: #412c1a;
}
* {
    margin: 0;
    padding: 0;
}
.active {
    transform: translateY(-10%);
    border-bottom: 2px solid var(--dark-brown);
}
body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8)), url('./assets/background.jpg');
    font-family: 'Montserrat', sans-serif;
}
.top {
    height: 1vh;
    background-color: var(--gold);
}
header {
    height: 22vh;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
header > h1 {
    font-weight: 300;
    font-size: 50px;
    color: var(--brown);
}
header > ul {
    display: flex;
    align-items: center;
    list-style: none;
}
header > ul > button {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0.5vw;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: transparent;
    color: var(--brown);
    border: none;
    border-bottom: 2px solid transparent;
}
header > ul > button:hover {
    transform: translateY(-10%);
}

/* home */
.home {
    animation: fadeIn 1.5s;
}
.first {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('./assets/coffee-beans.jpg');
    background-position: center;
    color: var(--off-white);
}
.first > div {
    padding: 15vh 0;
    margin: auto;
    width: 65vw;
}
.first > div > h2 {
    margin-top: 4vh;
    font-size: 32px;
    font-family: 'Courgette', cursive;
}
.first > div > p {
    margin: 3vh 0;
    line-height: 1.7;
    font-size: 17px;
    font-weight: 400;
}
.first > div > button {
    padding: 10px 20px;
    font-size: 15px;
    background: transparent;
    color: var(--off-white);
    border: 2px solid var(--off-white);
    cursor: pointer;
}
.first > div > button:hover {
    color: black;
    background-color: var(--off-white);
}

/* second */
.second {
    background-image: url('./assets/holding-coffee.jpg');
    background-position: center;
    background-size: cover;
    color: var(--dark-brown);
}
.second > div {
    padding: 15vh 0; 
    margin: auto;
    width: 65vw;
}
.second > div > h2 {
    font-weight: 500;
    margin-top: 4vh;
    font-size: 30px;
}
.second > div > p {
    margin: 3vh 0;
    line-height: 1.7;
    font-size: 17px;
    font-weight: 500;
}
.second > div > button {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Courgette', cursive;
    background: transparent;
    color: var(--dark-brown);
    border: none;
    border-bottom: 2px dotted var(--dark-brown);
    cursor: pointer;
}
.second > div > button:hover {
    color: black;
}

/* menu */
.grid {
    margin: 10vh auto;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4vh;
    text-align: center;
    animation: fadeIn 1.5s;
}
.card {
    background-color: var(--gold);
}
.card > h2 {
    margin: 2vh;
    color: var(--dark-brown);
}
.card > img {
    width: 20vw;
}
.card > button {
    margin-bottom: 2vh;
    padding: 1vh 2vh;
    border: none;
    color: var(--gold);
    background-color: var(--dark-brown);
    cursor: pointer;
}
.card > button:hover {
    transform: scale(105%);
}

/* contact */
.contact {
    animation: fadeIn 1.5s;
    margin: 15.9vh auto;
    width: fit-content;
    display: flex;
}
.info {
    padding: 10vh 1vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
    color: var(--dark-brown);
}
.info > h2 {
    font-weight: 400;
    font-size: 23px;
}
.info > p {
    margin-top: 2vh;
    line-height: 1.8;
    font-weight: 500;
    font-size: 16px;
}
.contact > iframe {
    width: 600px;
    border: none;
}

/* footer */
footer {
    height: 5vh;
    background-color: var(--gold);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--off-white);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--gold);
    border: 2px solid var(--off-white);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-brown);
}